
.uploadContainer {
  background: #f8f8ff;
  border: 1px dashed rgba(56, 78, 183, 0.3);
}

.start-btn {
  background: linear-gradient(135deg, #3b2667 0%, #bc78ec 100%);
  border: none;
}

.swal-modal {
  width: 600px;
  padding: 3rem;
  border-radius: 25px;
}

.swal-text {
  font-size: 30px;
  font-weight: 700;
}
